# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# ==========================================
# PAYPAL PAYMENT GATEWAY CONFIGURATION
# ==========================================
PAYPAL_APP_NAME="ALL-FIREBASE"
PAYPAL_CLIENT_ID="BAAk0DorZSaDyTQbbltBVp4mGPBPrPkVrHSdMGy4BBXgB8jhpzZdlEY9PZ24lsfPZGD6Ki6NPyGqjyGePc"
VITE_PAYPAL_CLIENT_ID="BAAjZUGDxBtSmNvJX8YLup1nL32Zvx5CSrN0Q0JJJ-iucSQ--6NhpyWiEk_1ifMCdUxWFiEiz_-kLneSKM"
PAYPAL_CLIENT_SECRET="EKfkUyx3qKyhX3VcZvxHZeGl1TJH0pIORvr2hBMzplRkzwC2B_-JU_fYbZkKDMlxWQRMcFwi2kEYhXpu"

# ==========================================
# PAYFAST PAYMENT GATEWAY CONFIGURATION
# (South Africa & Pan-African ZAR Gateway)
# ==========================================
PAYFAST_MERCHANT_ID="11071120"
PAYFAST_MERCHANT_KEY="p6fi9ewdjk1js"
PAYFAST_PASSPHRASE="abCd15ab92g1233bc1223"
PAYFAST_PDT_KEY="f6657bf6-9300-5637-364b-6608b202628d"
PAYFAST_EMAIL="waterkefirsa@gmail.com"
